.img_div {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;

  img {
    aspect-ratio: 1/1;
    max-height: 36px;
    height: auto;
    width: auto;
    object-fit: cover;
    border-radius: 3px;
  }
}
