.wrapper {
  margin-bottom: 15px;
  padding: 5px 20px 5px 20px;

  label {
    display: block;
    color: #9899a0;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #0a0a0a;
    border: 1px solid #9899a04d;
    border-radius: 8px;
    transition: border-color 0.5s;
    background-color: #ededed;
  }

  input:focus {
    border: 1px solid #ff7455;
  }

  input::placeholder {
    color: #9899a0;
    font-size: 14px;
  }

  input[type='file'] {
    border: none;
    display: flex;
    padding: 4px 0px;
  }

  input::file-selector-button {
    background: rgba(255, 219, 136, 1);
    color: #0a0a0a;
    border: 1px solid rgba(255, 219, 136, 1);
    border-radius: 8px;
    padding: 10px 12px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    transition: 0.3s all;

    // &:disabled {
    //   opacity: 0.5;
    //   pointer-events: none;
    // }

    &:hover {
      background: #ededed;
      border: 1px solid rgba(255, 219, 136, 1);
      color: #0a0a0a;
    }
  }
}
